/* 

.body-container {
    content: "";
    position: absolute;
    inset: 0px;
    background-position: center center;
    background-size: cover;
    background-image: url(https://occ-0-3071-2164.1.nflxso.net/dnm/api/v6/iMyKkw5SVrkCXbCfSBEb_Pjar5Y/AAAAQBTxE26zgLJoqZnmxUCfZtVJ2HbJUsVonZ_9Uo-pn68zarPK.png);
    opacity: 1;
} */